doctype html
html
    head
        meta(content="text/html;charset=utf-8" http-equiv="Content Type")
        meta(content="utf-8" http-equiv="encoding")
        title= title
        link(rel='stylesheet', href='/stylesheets/auth.css')
        script(src="https://cdn.socket.io/socket.io-1.2.0.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="http://underscorejs.org/underscore-min.js")
    body
        .content-wrapper
            block content
