extends layout
include ui/panel
block content
    if user
        | Вы вошли.
        a#logout Выйти
    else
        | Вы не вошли.
    .info-wrapper.hidden
    +panel('Contacts list', 250, 420, 100)
        ul.contacts-list
    script(type="text/javascript" src="/javascripts/Message.js")
    script(type="text/javascript" src="/javascripts/chat.js").
    script(type="text/javascript").
        var typeOfUser = "#{typeOfUser}";
        init(typeOfUser);