extends layout



block content
    .create-room-wrapper
        a.create-room Create room
        form(method="post" action=" " id="send_room")
            input(type="text" name="roomName" placeholder="Name of the room..." id="roomName")
            input(type="text" name="roomSlug" placeholder="Enter slug of the room" id="roomSlug")
            a#submit_room Create
    .room-list-wrapper
        table.room-table
            tr
                th.number-cell #
                th.name-cell Name
                th.owner-cell Owner
                th.online-cell Online
            - var n = 0
            for conference in conferences
                tr
                    td= ++n
                    td
                        a(data-slug= conference.slug href= "/conference/"+conference.slug)= conference.name
                    td= conference.owner
                    td later...
    script(type="text/javascript").
        $('.create-room').on('click', function(){
            $('#send_room').show();
        });
        $('#submit_room').on('click', function(){
            var $roomName = $('#roomName').val();
            var $roomSlug = $('#roomSlug').val();

            $.ajax({
                method: "POST",
                url: "",
                data: {roomName: $roomName, roomSlug:$roomSlug}
            })
                    .done(function (msg) {
                        alert("ok");
                    });
        });
