extends layout


block content
    .options-wrapper
        ul.options
            | Later...
    .create-room-wrapper
        a.create-room Create room
        form(method="post" action=" " id="send_room")
            input(type="text" name="roomName" placeholder="Name of the room..." id="roomName")
            a#submit_room Create
    script(type="text/javascript").
        $('.create-room').on('click', function(){
            $('#send_room').show();
        });
        $('#submit_room').on('click', function(){
            var roomName = $('#roomName').val();
            $.ajax({
                method: "POST",
                url: "",
                data: {roomName: roomName}
            })
                    .done(function (msg) {
                        alert("ok");
                    });
        });