extends layout

block content
    if user
        | Вы вошли.
        a#logout Выйти
    else
        | Вы не вошли.
    .chat-wrapper
        .connected-users#connected_users
        .chat-head
            span
                h2 Чат
        .chat-body
            ul.messages#msgs
        .chat-input
            textarea.chat-text#chat_text(placeholder="Type your message here")
    script(type="text/javascript").
        var socket = io();
        var $chat_text = $('#chat_text');
        var $messages = $('#msgs');

        /* GET users online */
        socket.emit('clients:get:online');
        /*  END  */

        $chat_text.keypress(function(e){
           if(e.which == 13){
               var message = $chat_text.val();
               if(message.length > 1) {
                   socket.emit('chat:send_message', message);
                   sendMessage(message, 'left');
                   return false;
               }
           }
        });
        $('#logout').on('click', function(){
            $.post('/logout', function(data){
                $('#logout').text("Вы вышли!");
            });
        });
        socket.on('chat:send_message', function(msg){
            sendMessage(msg, "right");
        });
        socket.on('clients:get:online', function(users){
            users.forEach(function(user) {
                        $('#connected_users').append("<p>"+user+"</p>");
                    }
            );
        });

        socket.on('clients:join', function(username){
            sendMessage(username + "connected", "center");
        });

        socket.on('not logged in', function(){
            location.href = "/login";
        });

        var sendMessage = function(message, align){
            var li = $("<li>", {
                css: {
                    'text-align': align
                }
            }).text(message);
            $messages.append(li);
        };