doctype html
html
    head
        meta(content="text/html;charset=utf-8" http-equiv="Content Type")
        meta(content="utf-8" http-equiv="encoding")
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/chat.css')
        link(rel='stylesheet', href='/stylesheets/profile.css')
        link(rel='stylesheet', href='/stylesheets/ui.css')
        script(src="https://cdn.socket.io/socket.io-1.2.0.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js")
        script(src="/javascripts/jquery.scrollbar.min.js")
        script(src="/javascripts/jquery.overlay.js")
        script(src="/javascripts/ui.js")
        script(src="/javascripts/widgets/chat.widget.js")

    body
    header
        a(href="/")= title
        block header
    .content-wrapper
      block content
    .footer-wrapper
      block footer
