extends layout

block content
    form(action=" ", method="post")
        input(type="text", name="username" placeholder="Логин")
        input(type="password", name="password" placeholder="Пароль")
        input(type="submit", value="Войти!")