extends auth_layout

block content
    .form-wrapper
        .form-content
            p TalkIn
            .error
                if error
                    p= error
            form(action=" ", method="post" class="login-form")
                input(type="text", name="username" placeholder="Логин")
                br
                input(type="password", name="password" placeholder="Пароль")
                br
                input(type="submit", value="Войти!")