extends layout

block content
    .profile-wrapper
        .profile-middle
            .profile-content
                img(class="profile-thumbnail")
                p.profile-username= user.username
