
extends auth_layout

block content
    .form-wrapper
        .form-content
            p TalkIn
            .error
                if error
                    p= error
            form(action="registration", method="post")
                input(type="text", placeholder="Логин" name="nickname")
                br
                input(type="password", placeholder="Пароль", name="password")
                br
                input(type="password", placeholder="Повторите пароль", name="password_repeat")
                br
                input(type="email", placeholder="Электронная почта", name="email")
                br
                input(type="submit", value="Зарегистрироваться!")
    script(type="text/javascript").
        var socket = io();

        socket.on("registration error", function(msg) {
            $('.error').text(msg);
        });

    style.
        form {
            text-align: center;
            display: block;
            width: 100%;
        }
        form input {
            margin: 5px;
        }