extends layout

block content
    if user
        | Вы вошли.
        a#logout Выйти
    else
        | Вы не вошли.
     p= typeOfUser
    .info-wrapper.hidden
    .chat-wrapper
        .chat-head
            span
                h2 Chat
        .chat-body
            .chat-sidebar#connected_users
            .chat-main
                ul.messages.scrollbar-macosx#msgs
                .chat-input
                    textarea.chat-text#chat_text(placeholder="Type your message here")
                .image-placeholder
        .input(type="hidden" id= slug class="slug")
    if typeOfUser === "admin"
        .admin-panel-wrapper
            .functions-wrapper
                .invite-user
                    input(type="text" placeholder="Enter username for invite" id="inviteName")
                    a#send_invite Invite!
            .clear
    script(type="text/javascript" src="/javascripts/chat.js").
    script(type="text/javascript").
        var typeOfUser = "#{typeOfUser}";
        init(typeOfUser);




