extends layout

block content
    if user
        | Вы вошли.
        a#logout Выйти
    else
        | Вы не вошли.
     p= typeOfUser
    .info-wrapper.hidden
    .chat-wrapper
        .chat-head
            span
                h2 Chat
        .chat-body
            .chat-sidebar#connected_users
            .chat-main
                ul.messages.scrollbar-macosx#msgs
                .chat-input
                    textarea.chat-text#chat_text(placeholder="Type your message here")
                .image-placeholder
        .input(type="hidden" id= slug class="slug")
    .clear
    if typeOfUser === "admin"
        input(type="button" value="Admin Panel" id="openPanel")
        .admin-panel-wrapper.hidden
            .functions-wrapper
                .invite-user
                    input(type="text" placeholder="Enter username for invite" id="inviteName")
                    input(type="button" id="send_invite" value="Invite!")
                .permissions-control
                    input(type="text" id="memberPermissions" value= permissionList.member)
                    label(for="memberPermissions") Permissions for joined users
                    br
                    input(type="text" value= permissionList.user id="userPermissions")
                    label(for="userPermissions") Permissions for newcome users
                    input(type="button" value="Save Permissions" id="send_permissions")
    script(type="text/javascript" src="/javascripts/Message.js")
    script(type="text/javascript" src="/javascripts/chat.js").
    script(type="text/javascript").
        var typeOfUser = "#{typeOfUser}";
        init(typeOfUser);




