

.chat-wrapper{
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: 1px solid #DCDCDC;
}

.chat-head {
    background-color: #4790D2;
    text-align: center;
    padding: 20px 0 20px 0;
}

.chat-sidebar{
    float: left;
}

.chat-sidebar p{
    padding: 25px 50px 25px 50px;
    font-size: 16px;
    font-weight: bold;
    color: #636E7F;
}

.chat-sidebar p:hover{
    background-color: rgba(136, 148, 149, 0.32);
}

.chat-body{
    background-color: #fff;
}


.messages{
    list-style: none;
    width: 400px;
    max-height: 400px;
    overflow: auto;
}
.messages li p{
    word-wrap: break-word;
}
.chat-main{
    float: left;
}

.message-wrapper{
    padding: 25px;
    border-bottom: 1px solid #cccccc;
    border-left: 2px solid #9AADC0;
}

.message-wrapper.public {
    background-color: #fff;
}

.message-wrapper.private{
    background-color: #00CC66;
    color: #fff;
}
.message-wrapper.me{
    border-left: 2px solid #9b59b6;
}

.message-header{
    font-weight: bold;
    display: inline-block;
    float: left;
}
.message-header::after {
    content: ':'
}
.message {
    display: inline-block;
    overflow: hidden;
    white-space: pre-wrap;
}


.chat-text{
    border: none;
    background-color: #E1E6ED;
    resize: none;
    width: 70%;
    outline: none;
    box-sizing: border-box;
    color: #636E7F;
    font-weight: bold;
    margin: 20px 0 20px 0;
    padding: 5px;
}

.chat-input{
    text-align: center;
}

.chat-head span{
    display: inline-block;
    vertical-align: middle;
}
.chat-head h2{
    font-size: 20px;
    color: #fff;
    line-height: 0;
}