*{
    margin: 0;
    padding: 0;
}

body {
    font: 14px "Arial", Helvetica, Arial, sans-serif;
    background-color: #fff;
}



header{
    background-color: #4790D2;
    width: 100%;
    padding: 20px;
}
header a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.options{
    background-color: #dedede;
    padding: 25px;
}

.create-room-wrapper{
    margin-top: 20px;
    text-align: center;
}
.create-room-wrapper form{
    display: none;
}

.create-room{
    border: 1px solid #069FE0;
    background: #00B4FF;
    color: #fff;
    padding: 25px;
    display: inline-block;
}

.clear:after {
    content:"";
    display:table;
    clear:both;
}

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

input[type=text],
input[type=password],
input[type=email] {
    padding: 5px;
    border: solid 1px #ccc;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    border-color: #4790D2;
    outline: 0;
}

input[type=button],
input[type=submit] {
    background: #4790D2;
    border: 2px solid #4790D2;
    color: white;
    padding: 3px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    outline: 0;
}

input[type=button]:hover,
input[type=submit]:hover {
    background: white;
    color: #4790D2;
}