*{
    margin: 0;
    padding: 0;
}

body {
  padding: 50px;
  font: 14px "Arial", Helvetica, Arial, sans-serif;
    background-color: #bdc3c7;
}

a {
  color: #00B7FF;
}

.clear:after {
    content:"";
    display:table;
    clear:both;
}

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */