.chat-body
    .chat-sidebar#connected_users
    .chat-main
        ul.messages.scrollbar-macosx#msgs
        .chat-input
            .typing-display
            textarea.chat-text#chat_text(placeholder="Type your message here")
        .image-placeholder
        p= typeOfUser
